<html>
    <%- include("includes/head") %>
    <head>
        <link rel="stylesheet"  href="/styles/css/middle.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
        <link rel="icon" href="icons/joystick.png" type="image/icon type">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="/socket.io/socket.io.js"></script>
        <script src="/client_scripts/client_socket.js"></script>
    </head>

    <body onload="init()">
      <%- include("includes/header") %>
      <%- message %>
      <form action="/" method="get">
      <button class="logout" type="submit"><img src="/styles/img/exit.png" >Log-out</button>
      </form>
      <section class="main-section">

        <div class="boxes">
          <img src = "/styles/img/player.png">
          <h1>Play solo</h1>
          <p>Here you can practice to improve your sudoku solving skill.</p>
          <br>
          <p>Simply start a game of your chosen difficulty, and play away!</p>
          <br>
          <p>Single-player games are not timed, so don't stress. But remember that your moves are recorded, and wrong inputs are penalized. After each game, make sure to review your mistakes by checking your personal single-player games history.</p>
      
          <br><hr><br>
          <form method="POST" action="/sudoku/solo_game">
            <input type="hidden" value="<%- userprofiledata.username %>" id="username" name="username">
            <input type="hidden" value="<%- userprofiledata.password %>" id="password" name="password">
            <label>Difficulty:</label>
            <input type="range" min="1" max="3" value="2" id="diff" name="diff">
            <br>
            <button type="submit"><img src="/styles/img/play.png" >Play Solo</button>
          </form>

        </div>

        <div class="boxes">
          <img src = "/styles/img/high-score.png">
          <h1>High Scores</h1>
          <p>Here you can see a complete history of your single-player and multi-player games, as well as the global highscores to compare your scores with the world!</p>
          <br>
          <p>If you can't find your scores on the global highscores list, dont worry! remember that practice makes perfect!</p>
          <br><hr><br>
          <form method="GET">
            <button type="submit" formaction="/sudoku/high_scores/<%- userprofiledata.username %>"><img src="/styles/img/list.png" >Your single-player games</button>
            <button type="submit"><img src="/styles/img/list.png" >Your multi-player games</button>
          </form>
          <br><br><hr><br>
          <button type="submit"><img src="/styles/img/worldwide.png" >Global single-player highscores</button>
          <button type="submit"><img src="/styles/img/worldwide.png" >Global multi-player highscores</button>
        </div>

        <div class="boxes">
          <img src = "/styles/img/team.png">
          <h1>Play with friends</h1>
          <p>Join a game, or create a game to play with your friends!</p>
          <br><hr><br>
          <form class="" action="waitroom" method="post">
            <input type="hidden" value="create" id="type" name="create">
            <label>Difficulty:</label>
            <input type="range" min="1" max="3" value="2" id="diff" name="diff">
            <label>Lobby Size:</label>
            <input type="range" min="2" max="4" value="3" id="size" name="size">
            <p>Number of players: <span id="value"></span></p>
            <button id="button1" type="submit"><img src="/styles/img/people.png" >Create lobby</button>
            <br><br><hr><br>
          </form>
          <!-- <form class="" action="waitroom" method="post">
            <input type="hidden" value="join" id="type" name="join">
            <label>Lobby Key</label>
            <input type="text" id="key" name="key">
            <button id="button2" type="submit"><img src="/styles/img/people.png" >Join lobby</button>
          </form> -->
          <% lobbies.forEach( lobby => { %>
            <div>
              <div><%=lobby.username%></div>
              <div><%=lobby.diff%></div>
              <div><%=lobby.size%></div>
              <div>
                <a href="/waitroom/<%=lobby._id%>">
                  <button type="submit">Join</button>
                </a>
              </div>
            </div>
          <% }) %>
        </div>
      </section>

      <%- include("includes/footer") %>

      <script>
        var slider = document.getElementById("size");
        var output = document.getElementById("value");
  
        output.innerHTML = slider.value;
  
        slider.oninput = function(){
          let value = this.value;
          output.innerHTML = value;
        }
  
      </script>
    </body>
</html>
