<html>
    <%- include("includes/head") %>
    <head>
        <link rel = "stylesheet" href = "/styles/css/sudoku.css">
    </head>
    <body>
      <%- include("includes/header") %>

      <section class="main-section">
        <main>
          <h1>Sudoku</h1>
          <hr>
          <h3><%- message %> <%- pagedata.username %>!</h3>
          <p>Currently playing a game of difficulty: <span id="level"><%- pagedata.diff %></span></p>
          <h2 id = "errors">Score: <span id="score"><%- pagedata.score %></span></h2>

          <div id="grid">
            <div class="smallgrid" id="grid-0-0"></div>
            <div class="smallgrid" id="grid-1-0"></div>
            <div class="smallgrid" id="grid-2-0"></div>
            <div class="smallgrid" id="grid-0-1"></div>
            <div class="smallgrid" id="grid-1-1"></div>
            <div class="smallgrid" id="grid-2-1"></div>
            <div class="smallgrid" id="grid-0-2"></div>
            <div class="smallgrid" id="grid-1-2"></div>
            <div class="smallgrid" id="grid-2-2"></div>
          </div>
          <button id="solve">Check the sudoku</button>
            
        </main>
      </section>
      <%- include("includes/footer") %>
    </body>

    <script src = "/game/sudoku-solver.js"></script>
</html>