<html>
    <%- include("includes/head") %>
    <head>
        <link rel = "stylesheet" href = "/styles/css/sudoku.css">
        <script src="/js/ejs.min.js"></script>
        <script src="/js/views.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/client_scripts/client_socket.js"></script>
    </head>
    <body onload="socket_init()">
      <%- include("includes/header") %>

      <section class="main-section">

       
        <main>
            <h1>Sudoku</h1>
            <hr>
            
                <ul>
                    <li><h4>Connection Successful</h4></li>
                    <li>
                        <h4 id="players_ready"> Ready: <%= ready %></h4>
                        <h4>Difficulty: <%= diff %></h4>
                        <h4>Room Size: <%= size %></h4> 

                    </li>
                </ul>
            </main>
        </section>
      <%- include("includes/footer") %>
    </body>

    <script src = "/game/sudoku-solver.js"></script>
</html>